
:root{
  --nav-bg: gray;
  --head-color: whiteSmoke;

  --nav-color-start: gray;
  --nav-color-end: rgb(66, 66, 66);
}

body{
  background-color: lightgray;
}

/* LANDING SECTION============================================= */


.landingContainer{
  background-color: black;
}

.landing{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  /* grid-template: 1fr, 2fr 1fr; */
  grid-template-areas: 
  "image titleGrid";

  background-color: black;
  /* min-height: 600px; */
  margin: 0 auto;
}

  #imageContainer{
    grid-area: image;
    /* height: auto; */
    /* width: 50%; */
  }

  #mainImage{
    display: block;
    margin: 0 auto;

    /* height: 50%; */
    width: 60%;

    opacity: 0;
    animation-name: imageFadeIn;
    animation-duration: 7s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
  }

  @keyframes imageFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

#titleContainer{
  grid-area: titleGrid;
  display: grid;
  grid-template-rows: 2fr 2fr 0.5fr 2fr;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "."
  "."
  "main"
  "subtitle";
}

  #titleContainer h1{
    grid-area: main;
    display: inline;
    /* color: var(--head-color); */
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 30px;
    font-weight: 100;
    font-size: 100px;
    margin: 0;

    animation-name: fadeIn;
    animation-duration: 7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }
  
  
  #titleContainer h4{
    grid-area: subtitle;
    color: black;
    display: inline;
    letter-spacing: 16px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin: 10px 0 0 60px;

    animation-name: fadeIn;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }

  @keyframes fadeIn {
    0% {
      color: black;
      letter-spacing: 16px;
    }
    100% {
      color: var(--head-color);
      letter-spacing: 7px;
    }
  }

  @media only screen and (max-width: 1330px){
    .landing{
      grid-template-rows: 2fr 1fr;
      grid-template-columns: 1fr;
      /* min-height: 100px;
      max-height: 500px; */

      grid-template-areas:
      "image"
      "titleGrid";
    }

    #mainImage{
      display: block;
      width: 30%;
      height:auto;
    }

    #titleContainer{
      grid-template-rows: 100px 10px;
      grid-template-areas: 
      "main"
      "subtitle";
      margin:0 auto;
    }

    #titleContainer h1{
      font-size: 75px;
    }

    #titleContainer h4{
      font-size: 25px;
    }

  }

  @media only screen and (max-width: 700px){
    #titleContainer h1{
      font-size: 40px;
      text-align: center;
      animation-name: none;
      /* prevent animation */
      letter-spacing: 7px;
      color: var(--head-color);
      animation-name: none;
    }
    #titleContainer h4{
      font-size: 15px;
      text-align: center;
      padding: 0;
      margin: -50px 0 0 0;
      /* prevent animation */
      letter-spacing: 7px;
      color: var(--head-color);
      animation-name: none;
    }
  }


/* NAVIGATION SECTION============================================= */

.pageNavigation{
  display: grid;
  grid-template: 1fr, repeat(5, 1fr);
  grid-template-areas: 
  "home listen events resume contact";

  max-width: 1500px;

  margin: 0 auto;

  background-color: var(--nav-bg);
  padding: 10px;

  text-align: center;
  color: var(--head-color);
  letter-spacing: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.navEntry{
  margin: 0;
  padding: 0;
  border-radius: 5px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navEntry:hover{
  animation-name: navMouse;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes navMouse{
  0% {
    background-color: var(--nav-color-start);
  }
  100%{
    background-color: var(--nav-color-end);
    /* border: 1px solid whiteSmoke; */
    box-shadow: 0 0 0 1px whiteSmoke; /* All the borders by using the spread properties */
    font-weight: 900;
  }
}

@media only screen and (max-width: 700px){
  .pageNavigation{
    font-size: 10px; 
  }
}

@media only screen and (max-width: 475px){
  .pageNavigation{
    font-size: 6px; 
    letter-spacing: 3px;
  }
}
